$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
$primary-font: "Moderustic", "Arial", sans-serif;
// $secondary-font: "Oswald", "Century Gothic", sans-serif;
// $button-color: #68b738;
