.main-hero__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.main-hero__slogan {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #404140;
}

.main-button__link {
  display: block;
  padding: 15px 30px;
  margin: 10px 0;
  font-size: 18px;
  color: #404140;
  border: 2px solid #404140;
  border-radius: 8px;
  text-decoration: none;
  text-align: center;
  width: 200px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s;
}

.main-button__link:hover {
  background-color: #1565C0;
  color: #fff;
}

.main-button--help {
  width: 100%;
}
