@font-face{
	font-family: Moderustic;
	font-display: swap;
	src: url("../fonts/Moderustic-Bold.woff2") format("woff2"), url("../fonts/Moderustic-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face{
	font-family: Moderustic;
	font-display: swap;
	src: url("../fonts/Moderustic-Regular.woff2") format("woff2"), url("../fonts/Moderustic-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: BriosoPro Italic;
	font-display: swap;
	src: url("../fonts/BriosoPro Italic.woff2") format("woff2"), url("../fonts/BriosoPro Italic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: Moderustic;
	font-display: swap;
	src: url("../fonts/Moderustic-SemiBold.woff2") format("woff2"), url("../fonts/Moderustic-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
